body {
  margin: 0;
  padding: 0;
}

.settings-control {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
/*SEARCH BAR STYLE */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;
  position: relative;
  height: 3rem;
  width: 15rem;
  margin: 0.3rem;
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #cccdcd;
  overflow: hidden;
}

.search-input {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: #cccdcd;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-input input {
  border: none;
  outline: none;
}

/*size switch toggle css
*/

/**/

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  border: 2px solid #f1f1f1;
  border-radius: 50px;
}

.input-container {
  position: relative;
  height: 2.75rem;
  width: 7rem;
  margin: 0.3rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50px;
  transition: 0.6s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-container label {
  font-size: 16px;
  font-weight: 600;
}

input:checked + .radio-tile {
  background-color: rgba(26, 145, 255, 0.1);
}

.logo {
  padding-right: 10px;
}

input:checked + .radio-tile ion-icon,
input:checked + .radio-tile label {
  color: #1a91ff;
}
input:checked + .radio-tile .logo path {
  stroke: #1a91ff !important;
}

/* ICON CONTAINER STYLING */

.icon {
  gap: 1rem;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 139px;
  height: 140.35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icon-container:hover {
  border: 2px solid #f2f2f5;
  border-radius: 18px;
}

.icon-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.display-icon {
  display: inline-block;
  background: #ffffff;
  margin-bottom: 20px;
  scale: 120%;
}
.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-bottom: 5px;
  height: 35px;
}

.icon-name {
  padding: 5px;
  width: 121.46px;
  /* overflow: hidden; */
  text-align: center;
  /* background: #e8f4ff; */
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a91ff;
}

.icontiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
}

.download--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #1a91ff;
  background: #e8f4ff;
  border-radius: 12px;
  border: none;
}

.download--btn:hover {
  outline: 2px solid#1a91ff;
}
.download--btn img {
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 12.5%;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.5%;
  width: 12px;
  height: 12px;
}

.download--btn {
  display: none;
}

.download--btn:active {
  outline: none;
}

.icon-container:hover .icon-name {
  display: none;
}
.icon-container:hover .download--btn {
  display: flex;
  cursor: pointer;
}
