@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,500&family=Space+Grotesk:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Karla:ital,wght@0,400;0,700;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Karla", sans-serif;
}

:root {
  --Outlinegrey: #dddee2;
  --OutlineLightBlue: #a9d3fa;
  --OutlineGreyBlue: #e8f4ff;
  --OutlineBlue: #1a91ff;
}

.settings-control {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

/*SEARCH BAR STYLE */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem 1rem;
  gap: 0.7rem;
  position: relative;
  height: 3rem;
  width: 15rem;
  margin: 0.3rem;
  background: #ffffff;
  outline: 0.1rem solid var(--Outlinegrey);
  overflow: hidden;
}

.search-input {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: var(--Outlinegrey);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-input input {
  border: none;
  outline: none;
  background: none;
}
.search-bar img {
  width: 24px;
}

/*size switch toggle css
*/

/**/

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container :hover {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  outline: 0.1rem solid var(--Outlinegrey);
  transition: 0.1s ease-out;
}
.toggle-container:hover {
  cursor: pointer;
  border-radius: 50px;
  outline: 0.1rem solid var(--OutlineGreyBlue);
}

.input-container {
  position: relative;
  height: 2.5rem;
  width: 7rem;
  margin: 0.3rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 0.7rem;
  transition: 0.4s ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-container label {
  font-size: 16px;
  font-weight: 500;
}

input:checked + .radio-tile {
  background-color: rgba(26, 145, 255, 0.1);
}

.logo {
  padding-right: 10px;
}

input:checked + .radio-tile ion-icon,
input:checked + .radio-tile label {
  color: var(--OutlineBlue);
}
input:checked + .radio-tile .logo path {
  stroke: var(--OutlineBlue) !important;
}

/*media queries */

/* ICON CONTAINER STYLING */

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.innerIcon-container {
  gap: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  align-items: center;
  justify-content: flex-start;
}
.icon-container {
  width: 9rem;
  /* border-radius: 18px; */
  border: 0.1rem solid transparent;
  border-radius: 18px;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.25s;
}

.icon-container:hover {
  /* transition: 3s ease-in; */
  border-color: var(--Outlinegrey);
}

.icon-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-icon {
  display: inline-block;
  background: #ffffff;
  margin-bottom: 20px;
  scale: 120%;
}
.icon-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-bottom: 5px;
  height: 35px;
}

.icon-name {
  padding: 5px;
  width: 121.46px;
  /* overflow: hidden; */
  text-align: center;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;

  color: var(--OutlineBlue);
}

.icontiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  border: none;
}

.download--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 7px;
  gap: 3px;
  padding: 0.4rem 0.7rem;
  gap: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4aa6fd;
  appearance: none;
  border: none;
  background: #e8f4ff;
  border-radius: 0.6rem;
}

.copy--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 7px;
  gap: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4aa6fd;
  appearance: none;
  border: none;
  background: #e8f4ff;
  border-radius: 12px;
}

.download--btn,
.copy--btn:hover {
  transition: 0.01s ease-in;
  color: var(--OutlineBlue);
}

.download--btn:hover .download-icon path {
  stroke: var(--OutlineBlue);
}

.copy--btn:hover .copy-icon path {
  stroke: var(--OutlineBlue);
}

.download-icon,
.copy-icon {
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 12.5%;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.5%;
  width: 14px;
  height: 14px;
}

.download--btn {
  display: none;
}
.copy--btn {
  display: none;
}

.download--btn,
.copy--btn:active {
  outline: none;
}

.icon-container:hover .icon-name {
  display: none;
}
.icon-container:hover .download--btn {
  display: flex;
  cursor: pointer;
}

.icon-container:hover .copy--btn {
  display: flex;
  cursor: pointer;
}

/* category container styling */

.dropdown-categories select {
  font-size: 1rem;
  padding: 0.7rem 3rem 0.7rem 1.5rem;
  outline: 0.1rem solid var(--Outlinegrey);
  border-radius: 50px;
  appearance: none;
  height: 3rem;

  font-weight: 500;
  color: #3b3b3b;
  border: none;
}

.dropdown-categories select:hover {
  outline: 0.1rem solid var(--OutlineGreyBlue);
  transition: 0.2s ease-in;
}

/* style for custom select list */
.dropdown-categories select option {
  background: #ffffff;
  color: #3b3b3b;
  font-size: 1rem;
  font-weight: 400;
}
