@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 30px 50px 50px;
  font-family: "DM Sans", sans-serif;
}

:root {
  --Outlinegrey: #dddee2;
  --OutlineLightBlue:#1a91ff26;
  --OutlineGreyBlue: #EAF5FE;
  --OutlineBlue: #1a91ff;

  --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

.border-radius-50 {
  border-radius: 50px;
}
.border-radius-12 {
  border-radius: 12px;
}
.border-radius-18 {
  border-radius: 18px;
}
.settings-control {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
/*SEARCH BAR STYLE */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;
  position: relative;
  height: 3rem;
  width: 15rem;
  margin: 0.3rem;
  background: #ffffff;
  outline: 0.1rem solid var(--Outlinegrey);
  overflow: hidden;
  border-radius: 50px;
  
}

.search-input {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: var(--Outlinegrey);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-input input {
  border: none;
  outline: none;
}
.search-bar img {
  width: 24px;
}

/*size switch toggle css*/


.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container :hover {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  outline: 0.1rem solid var(--Outlinegrey);
  transition: 0.1s ease-out;
}
.toggle-container:hover {
  cursor: pointer;
  border-radius: 50px;
  outline: 0.1rem solid var(--OutlineGreyBlue);
}

.input-container {
  position: relative;
  height: 2.5rem;
  width: 7rem;
  margin: 0.3rem;
}

.input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50px;
  transition: 0.6s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-container label {
  font-size: 16px;
  font-weight: 500;
}

input:checked + .radio-tile {
  background-color: rgba(26, 145, 255, 0.1);
}

.logo {
  padding-right: 10px;
}

input:checked + .radio-tile ion-icon,
input:checked + .radio-tile label {
  color: var(--OutlineBlue);
}
input:checked + .radio-tile .logo path {
  stroke: var(--OutlineBlue) !important;
}


/* category container styling */

.dropdown-categories select {
  font-size: 1rem;
  padding: 0.7rem 3rem 0.7rem 1.5rem;
  outline: 0.1rem solid var(--Outlinegrey);
  border-radius: 50px;
  appearance: none;
  height: 3rem;
  font-weight: 500;
  color: #3b3b3b;
  border: none;
}

.dropdown-categories select:hover {
  outline: 0.1rem solid var(--OutlineGreyBlue);
  transition: 0.2s ease-in;
}

/* style for custom select list */
.dropdown-categories select option {
  background: #ffffff;
  color: #3b3b3b;
  font-size: 1rem;
  font-weight: 400;
}

/* bottom end footer text*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

